$textfont: serif;
$tcolor: black;

%textColor {
	color: $tcolor;
}
.textStyle{
	@extend %textColor;
	padding: 1%;
	margin: auto;
	font: 120% $textfont;
	display: flex;
	flex-wrap: wrap;
}

div,.textStyle {
	p {
		font: bold 100% $textfont;
	}
	ul {
		font: oblique bold $textfont;
		color: black;
	}
	p {
		font: bold 100% $textfont;
	}
	ul {
		font: oblique bold $textfont;
		color: black;
	}
}